*{
  margin: 0;
  background-color: #222831;
}

.home {
  color: white;
  margin-top: 30px;
}

.content {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.create input {
  background-color: #393E46;
  margin-top: 20px;
  box-shadow: #00ADB5 0px 0px 0px 3px;
  border-radius: 5px;
  height: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  max-width:fit-content;
}

.todo-list:hover {
  color: #00ADB5
}