*{
  background-color: black;
  font-family: 'Gill Sans', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  justify-items: center;
  align-items: center;
  /* border: solid 2px red; */
}

.input {
  width: 25vh;
  /* border: solid 2px red; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25px;
}

.input form {
  display: flex;
  align-items: center;
}

.input input {
  height: 32.5px;
  width: 25vh;
  border-style: none;
  border-radius: 8px;
  background-color: white;
  outline: white;
  text-align: center;
  display: flex;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 25px;
  width: 50vh;
}

.task-list li {
  margin-top: 15px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: solid 1px white;
  border-radius: 8px;
  padding: 5px;
  color: white;
  width: 50vh;
  /* border: solid 2px red; */
}

.task-list li:hover {
  color: gray;
  border-color: gray;
  transition-duration: .2s;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.add-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style:none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  height: 35px;
  width: 66px;
  padding: 0 10px;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  margin-left: 10px;
}

.add-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 1px 1px 20px;
  transition-duration: .2s;
}

.add-button:active {
  transform: translateY(2px);
  transition-duration: .4s;
}

.delete-button {
  /* height: 25px; */
  /* border-radius: 100px; */
  padding: 4px;
  margin: 5px;
}

.delete-button:hover {
  color: #673FD7;
  transition-duration: .2s;
}

.delete-button:active{
  transform: translateY(2px);
  transition-duration: .4s;
}

.edit-button {
  margin: 5px;
  padding: 4px;
}

.edit-button:hover {
  color: orange;
  transition-duration: .2s;
}

.complete-button {
  margin: 5px;
  padding: 4px;
}

.complete-button:hover {
  color: green;
  transition-duration: .2s;
}