*{
  background-color: black;
  font-family: 'Gill Sans', sans-serif;
}

.header {
  text-align: center;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  justify-items: center;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25vh;
}

.input input {
  height: 2.5vh;
  width: 25vh;
  border-style: none;
  border-radius: 8px;
  background-color: white;
  outline: white;
  display: flex;
  text-align: center;
}

/* .add-button {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style:none;
  color: #FFFFFF;
  cursor: pointer;
  height: 25px;
  padding: 0 20px;
  margin-top: 1px;
  margin-left: 15px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}

.add-button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 3px 10px;
  transition-duration: .5s;
}

.add-button:active {
  transform: translateY(3px);
} */

.list {
  color: white;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.list li {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 25px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px white;
  justify-content: space-between;
  
}

.add-icon {
  color: white;
  height: 25px;
  padding-left: 5px;
}

.add-icon:hover {
  color: green;
  transition-duration: .2s;
}

.add-icon:active{
  transform: translateY(2px);
  transition-duration: .4s;
}

.delete-icon {
  color: white;
  height: 25px;
}

.delete-icon:hover {
  color: red;
  transition-duration: .2s;
}

.delete-icon:active{
  transform: translateY(2px);
  transition-duration: .4s;
}